<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>

  <div class="container" style="text-align:center; margin-top:30px;">
    <h1 class="display-2"><%= message%></h1>
    <p class="display-6" style="margin-top:30px;">You don't have any expenses yet! To add expenses, click the button below.</p>
    <a type="button" href="/expenses" class="btn btn-primary" style="margin-top:30px; "> Add expenses </a>
  </div>
  
  
  
</main>

<%- include ('../partials/footer') %>