<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>



<main>


  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">

    <h4 class="display-4">Homepage</h4>
    
    <div id="chartContainer"></div>
    <div id="expenseDisplay">
      <h4 class="display-4">Expenses Overview</h4>
      <p>Total Expenses: $1234</p>
      <p>Budget: $1234</p>
      <p>Status: <span id="budgetStatus">Within Budget</span></p>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Settings
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Add Expense Category</a></li>
          <li><a class="dropdown-item" href="#">Remove Expense Category</a></li>
          <li><a class="dropdown-item" href="#">Adjust Budget/Income</a></li>
        </ul>
      </div>
  </div>
  </div>
</main>

<%- include ('../partials/footer') %>