<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>

  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">

    <h1>Homepage</h1>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    

    
  </div>
</main>

<%- include ('../partials/footer') %>