<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<main>


    <div class="col"><%- include ('../partials/message') %></div>
    <div class="container">
  
      <h4 class="display-4">Create Expense Report</h4>
      
    </div>
    </div>
  </main>


<%- include ('../partials/footer') %>