<%- include ('../partials/head') %>


<footer class="text-center text-muted w-100 mt-auto fixed-bottom" style="background-color: rgb(20, 20, 86);" >
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
    >
    </script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <p style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      BudgetBeam Expense Tracker
    </p>
    
  </footer>
</body>

</html>