<header >
    <nav class="navbar navbar-expand-sm border-bottom navbar-dark text-white" style="background-color: rgb(20, 20, 86);">
      <div class="container">
        <a class="navbar-brand" style="font-style:italic; font-weight: bold;">BudgetBeam</a>
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Expenses</a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Budget Report</a>
            </li>
          </ul>
          <div class="nav-item me-3">
            <a class="nav-link" href="/profile">My Profile</a>
          </div>
          <div class="nav-item me-1">
                <a class="nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
   </header>