#chartContainer {
    width: 50%;
    float: left;
}

#expenseDisplay {
    width: 50%;
    float: right;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#menu_bar, #budget_footer{
    background-color: rgb(20, 20, 86);
}
#menu_logo{
    font-style:italic; font-weight: bold;
}
#budget_footer p{
    color:white;
    font-style:italic; font-weight: bold;
}